!dist/index.html
._*
.cache/
.DS_Store
.DS_Store?
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.Spotlight-V100
.Trashes
*.log
/.pnp
/.vscode
/build
/coverage
/ignoreme
/node_modules
coverage/
dist/*
ehthumbs.db
node_modules/
npm-debug.log*
Thumbs.db
yarn-debug.log*
yarn-error.log*
